.cid-sUy1VKIOff {
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden;
    background-color: #ffffff;
  }
  .cid-sUy1VKIOff .image__block:before {
    content: "";
    position: absolute;
    top: -128px;
    left: 205px;
    width: 100vw;
    height: calc(100% + 260px);
    background-color: #bfdaf6;
  }
  .cid-sUy1VKIOff .date__block {
    margin-top: 88px;
    margin-bottom: 16px;
  }
  .cid-sUy1VKIOff .date__article {
    display: inline-block;
    margin: 0;
    padding: 0 7.5px;
    color: #b1a374;
  }
  .cid-sUy1VKIOff .dot {
    display: inline-block;
    vertical-align: super;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #46877e;
  }
  .cid-sUy1VKIOff .date__d {
    display: inline-block;
    margin: 0;
    padding: 0 7.5px;
    color: #90bff0;
  }
  .cid-sUy1VKIOff .mbr-section-title {
    margin-bottom: 28px;
  }
  .cid-sUy1VKIOff .mbr-text {
    margin-bottom: 23px;
  }
  .cid-sUy1VKIOff .link {
    display: block;
    margin-bottom: 0;
    white-space: nowrap;
  }
  .cid-sUy1VKIOff .link a {
    font-weight: 700;
  }
  .cid-sUy1VKIOff .link span {
    display: inline-block !important;
    transition: all 0.3s ease;
    margin-left: 13px;
  }
  .cid-sUy1VKIOff .link:hover span {
    transform: translateX(9px);
  }
  .cid-sUy1VKIOff .image__block {
    position: relative;
  }
  .cid-sUy1VKIOff .image {
    width: 100%;
    height: 575px;
    position: relative;
  }
  .cid-sUy1VKIOff .image:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #90bff0;
    z-index: 1;
  }
  .cid-sUy1VKIOff .image img {
    position: absolute;
    width: 50%;
    height: 80%;
    top: 60px;
    left: 50%;
    z-index: 5;
    transform: translatex(-50%);
    border-radius: 50%;
    max-height: 575px;
    object-fit: cover;
    border: 4px solid #001169;
  }
  @media (max-width: 991px) {
    .cid-sUy1VKIOff .date__block {
      margin-top: 0;
      margin-bottom: 14px;
    }
    .cid-sUy1VKIOff .mbr-section-title {
      margin-bottom: 15px;
    }
    .cid-sUy1VKIOff .mbr-text {
      margin-bottom: 12px;
    }
    .cid-sUy1VKIOff .image__block {
      margin-top: 60px;
    }
    .cid-sUy1VKIOff .image__block:before {
      top: -50px;
      left: 70px;
      height: calc(100% + 150px);
    }
  }
  @media (max-width: 767px) {
    .cid-sUy1VKIOff .image {
      height: 460px;
    }
    .cid-sUy1VKIOff .image img {
      top: 45px;
      width: 60%;
    }
  }
  @media (max-width: 575px) {
    .cid-sUy1VKIOff .image {
      height: 420px;
    }
    .cid-sUy1VKIOff .image img {
      top: 40px;
      width: 60%;
    }
  }
  @media (max-width: 380px) {
    .cid-sUy1VKIOff .image {
      height: 300px;
    }
    .cid-sUy1VKIOff .image img {
      top: 30px;
      width: 60%;
    }
  }
  