body {
  font-family: Barlow;
}

#signature {
  width: 35%;
}

.display-1 {
  font-family: 'Aleo', serif;
  font-size: 3.2rem;
  letter-spacing: -1px;
}
.display-8 {
  font-family: 'Aleo', serif;
  font-size: 1.4rem;
  letter-spacing: -1px;
  line-height: 1.5;
}
.display-1 > .style-iconfont {
  font-size: 7.68rem;
}
.display-2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.6rem;
}
.display-2 > .style-iconfont {
  font-size: 4.16rem;
}
.display-4 {
  font-family: 'Rufina', serif;
  font-size: 0.9rem;
}
.display-4 > .style-iconfont {
  font-size: 1.44rem;
}
.display-5 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.4rem;
  letter-spacing: -1px;
  line-height: 1.5;
}
.display-5 > .style-iconfont {
  font-size: 2.24rem;
}
.display-7 {
  font-family: 'Rufina', serif;
  font-size: 1.1rem;
  line-height: 1.4;
}
.display-7 > .style-iconfont {
  font-size: 1.76rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.84rem;
    font-size: calc( 2.33rem + (4.8 - 2.33) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.33rem + (4.8 - 2.33) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #90bff0 !important;
}
.bg-success {
  background-color: #001169 !important;
}
.bg-info {
  background-color: #b66895 !important;
}
.bg-warning {
  background-color: #bf6d2d !important;
}
.bg-danger {
  background-color: #c8a900 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #90bff0 !important;
  border-color: #90bff0 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #d3e6f9 !important;
  border-color: #d3e6f9 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d3e6f9 !important;
  border-color: #d3e6f9 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #2a65e8 !important;
  border-color: #2a65e8 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #6f97ef !important;
  border-color: #6f97ef !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #6f97ef !important;
  border-color: #6f97ef !important;
}
.btn-info,
.btn-info:active {
  background-color: #b66895 !important;
  border-color: #b66895 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #cf9cb9 !important;
  border-color: #cf9cb9 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #cf9cb9 !important;
  border-color: #cf9cb9 !important;
}
.btn-success,
.btn-success:active {
  background-color: #001169 !important;
  border-color: #001169 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #001db5 !important;
  border-color: #001db5 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #001db5 !important;
  border-color: #001db5 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #bf6d2d !important;
  border-color: #bf6d2d !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #d9955f !important;
  border-color: #d9955f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #d9955f !important;
  border-color: #d9955f !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #c8a900 !important;
  border-color: #c8a900 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ffdb16 !important;
  border-color: #ffdb16 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ffdb16 !important;
  border-color: #ffdb16 !important;
}
.btn-white {
  color: #222222 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #222222 !important;
  border-color: #222222 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #484848 !important;
  border-color: #484848 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #484848 !important;
  border-color: #484848 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #368be4;
  color: #368be4;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #90bff0;
  border-color: #90bff0;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #90bff0 !important;
  border-color: #90bff0 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #113c9b;
  color: #113c9b;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #2a65e8;
  border-color: #2a65e8;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2a65e8 !important;
  border-color: #2a65e8 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #7c3c61;
  color: #7c3c61;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #b66895;
  border-color: #b66895;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #b66895 !important;
  border-color: #b66895 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #000003;
  color: #000003;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #001169;
  border-color: #001169;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #001169 !important;
  border-color: #001169 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #6c3e1a;
  color: #6c3e1a;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #bf6d2d;
  border-color: #bf6d2d;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #bf6d2d !important;
  border-color: #bf6d2d !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #625300;
  color: #625300;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #c8a900;
  border-color: #c8a900;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #c8a900 !important;
  border-color: #c8a900 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #222222 !important;
  border-color: #222222 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #001169;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #90bff0 !important;
}
.text-secondary {
  color: #2a65e8 !important;
}
.text-success {
  color: #001169 !important;
}
.text-info {
  color: #b66895 !important;
}
.text-warning {
  color: #bf6d2d !important;
}
.text-danger {
  color: #c8a900 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #eaf3fc !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #86a8f2 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #0022cf !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #d7adc5 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #dea274 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #ffdf2f !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #000000 !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #b66895;
}
.alert-warning {
  background-color: #bf6d2d;
}
.alert-danger {
  background-color: #c8a900;
}
.style-section-btn a.btn:not(.btn-form):hover,
.style-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.style-gallery-filter li.active .btn {
  background-color: #90bff0;
  border-color: #90bff0;
  color: #ffffff;
}
.style-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #90bff0;
}
.style-plan-header.bg-primary .style-plan-subtitle,
.style-plan-header.bg-primary .style-plan-price-desc {
  color: #ffffff;
}
.style-plan-header.bg-success .style-plan-subtitle,
.style-plan-header.bg-success .style-plan-price-desc {
  color: #0026e9;
}
.style-plan-header.bg-info .style-plan-subtitle,
.style-plan-header.bg-info .style-plan-price-desc {
  color: #e0bed1;
}
.style-plan-header.bg-warning .style-plan-subtitle,
.style-plan-header.bg-warning .style-plan-price-desc {
  color: #e3b088;
}
.style-plan-header.bg-danger .style-plan-subtitle,
.style-plan-header.bg-danger .style-plan-price-desc {
  color: #ffe348;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rufina', serif;
  font-size: 1.1rem;
  line-height: 1.4;
}
.form-control > .style-iconfont {
  font-size: 1.76rem;
}
blockquote {
  border-color: #90bff0;
}
/* Forms */
.style-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #90bff0;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #90bff0;
  border-bottom-color: #90bff0;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #90bff0 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #2a65e8 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2390bff0' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.nav-container {
  z-index: 1000;
  width: 100%;
}

.nav-container nav.navbar {
  position: fixed;
}
.nav-container .nav-link {
  transition: all .5s;
  border-bottom: 1px solid transparent;
  font-family: "Nunito Sans";
  position: relative;
  padding: 0;
  display: inline-block;
  font-weight: 400;
}
.nav-container .dropdown-item:before {
  font-family: glyph2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.nav-container .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
}
.nav-container .nav-link:hover,
.nav-container .nav-link:focus {
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 992px) {
  .nav-container .nav-item {
    position: relative;
  }
}
.nav-container .navbar {
  min-height: 107px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  position: absolute;
  mix-blend-mode: difference;
}
@media (min-width: 992px) {
  .nav-container .navbar {
    background: rgba(0, 17, 105, 0);
    border-bottom: 1px solid #C0BCB7;
  }
}
.nav-container .navbar.opened .style-overlay {
  transition: all .3s;
  background: #001169 !important;
}
.nav-container .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.nav-container .navbar .navbar-collapse {
  width: 100%;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  z-index: 1;
  padding: .5rem 0;
}
@media (max-width: 991px) {
  .nav-container .navbar .navbar-collapse {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.nav-container .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}

.nav-container .navbar.collapsed.opened .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.nav-container .navbar.collapsed .navbar-collapse.show,
.nav-container .navbar.collapsed .navbar-collapse.collapsing {
  transition: all .3s linear;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.nav-container .navbar.collapsed .navbar-collapse.show .brand-container,
.nav-container .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  -webkit-order: -1;
  order: -1;
}
.nav-container .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.nav-container .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.nav-container .navbar.collapsed ul.navbar-nav li {
  margin-right: 14px;
}
.nav-container .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.nav-container .navbar.collapsed .dropdown-menu .dropdown-item {
  text-align: center;
}
@media (max-width: 991px) {
  .nav-container .navbar .navbar-collapse.show,
  .nav-container .navbar .navbar-collapse.collapsing {
    transition: all .3s linear;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  .nav-container .navbar .navbar-collapse.show .brand-container,
  .nav-container .navbar .navbar-collapse.collapsing .brand-container {
    -webkit-order: -1;
    order: -1;
  }
  .nav-container .navbar.opened .dropdown-menu {
    top: 0;
  }
  .nav-container .navbar .dropdown-menu {
    background: transparent !important;
  }
  .nav-container .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .nav-container .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .nav-container .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }

  .nav-container .navbar .navbar-logo img {
    height: 3.5rem !important;
  }
  .nav-container .navbar ul.navbar-nav li {
    margin: auto !important;
  }
  .nav-container .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .nav-container .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .nav-container .navbar .right-menu,
  .nav-container .navbar .left-menu {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.nav-container .navbar.navbar-short {
  min-height: 60px;
  color: #001169 !important;
  backdrop-filter: blur(5px);
}




.nav-container .navbar .navbar-background {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.7931373232886905) 51%, rgba(255,255,255,0.3) 100%);
  transition: all ease-in-out 0.2s;
}

.nav-container .navbar.navbar-short .navbar-background {
  opacity: 1;
  
}

@media (max-width: 992px) {
  .nav-container .navbar.navbar-dropdown {
  min-height: 60px;
  color: #001169 !important;
  }
  .nav-container .navbar.navbar-dropdown * {
    color: #001169 !important;
  }
.nav-container .navbar.navbar-dropdown .navbar-background {
  opacity: 1;
  backdrop-filter: blur(4px);
  background: white;
}
}
.nav-container .navbar.navbar-short * {
  color: #001169 !important;
}

.emphasis {
  color: #001169 !important;
  border-bottom: 3px solid #cccccc !important;
  transition: all 0.2s ease-in-out;
}
.emphasis:hover {
  color: #113c9b !important;
  border-bottom: 3px solid #c8a900 !important;
}


.nav-container .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.nav-container .navbar.navbar-short .navbar-brand {
  padding: 0;
}
@media (max-width: 991px) {
  .nav-container .navbar {
    padding: 2rem 1rem;
  }
  .nav-container .navbar-collapse {
    padding-top: 0;
  }
}
.nav-container .navbar-brand {
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.nav-container .navbar-brand .navbar-caption {
  font-family: "Aleo";
  line-height: inherit !important;
  font-weight: 400;
  transition: all ease-in-out 0.2s;
}
.nav-container .navbar-brand .navbar-logo a {
  outline: none;
}
.nav-container .dropdown-item.active,
.nav-container .dropdown-item:active {
  background-color: transparent;
}
.nav-container .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.nav-container .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
}
.nav-container .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #001169;
}
.nav-container .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.nav-container .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.nav-container ul.navbar-nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .nav-container ul.navbar-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

}
@media (max-width: 1235px) {
  .brand-container .navbar-brand {
    display: none !important;
  }
}
.nav-container .navbar-buttons {
  margin-left: auto;
}
.nav-container button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin: 1rem;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  outline: none;
}
.nav-container button.navbar-toggler:hover {
  outline: none;
}
.nav-container button.navbar-toggler:active {
  outline: none;
}
.nav-container button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #001169;
}
.nav-container button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.nav-container button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.nav-container button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.nav-container button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.nav-container nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.nav-container nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
  width: 20px;
  right: -2px;
}
.nav-container nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
  width: 20px;
  left: -2px;
}
.nav-container nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.nav-container .navbar-dropdown {
  position: fixed;
}
.nav-container a.nav-link {
  position: relative;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  letter-spacing: 3.41px;
}
.nav-container .style-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.nav-container .right-menu,
.nav-container .left-menu {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.nav-container .left-menu .navbar-nav {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.nav-container .left-menu .navbar-nav ul {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.nav-container .right-menu .navbar-nav {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.nav-container .right-menu .navbar-nav ul {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.nav-container .brand-container {
  padding: 0 4rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .nav-container .brand-container {
    padding: 0;
  }
}
.nav-container .card-wrapper {
  z-index: 3;
}
.nav-container .popup-btn.card-wrapper {
  z-index: 1 !important;
}
.nav-container .nav-item:not(:last-child) {
  margin-right: 22px !important;
}
@media (min-width: 1400px) {
  .nav-container .nav-item:not(:last-child) {
    margin-right: 4rem !important;
  }
}
.nav-container .navbar-brand img {
  width: auto !important;
  display: inline;
}
.nav-container .navbar-dropdown .navbar-brand span {
  vertical-align: 0px;
  line-height: 1;
}
.nav-container .link {
  padding: 0;
  margin: 0;
}
@media (min-width: 991px) {
  .nav-container .dropdown-menu {
    z-index: 9999;
    margin-top: 40px;
    border: 1px solid #41392e;
    width: 250px;
  }
}
.nav-container .navbar-caption {
  color: #ffffff;
}
.nav-container .navbar-caption:hover {
  color: #ffffff;
}
.nav-container .dropdown-item:hover {
  color: #90bff0 !important;
}
.nav-container a:hover .line-animation,
.nav-container a:focus .line-animation {
  opacity: 1;
}
.nav-container .nav-dropdown .link {
  padding: 0 !important;
}
@media (max-width: 990px) {
  .nav-container .dropdown-menu {
    margin-top: 0px;
  }
  .nav-container .nav-dropdown .link {
    padding-top: 15px !important;
  }
}
.jumbotron-1 {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets/images/news10.jpg");
}
.jumbotron-1 .style-section-btn .btn-white-outline {
  padding: 3px 0;
  border: none !important;
  border-bottom: 3px solid transparent !important;
  background-color: transparent !important;
}
.jumbotron-1 .style-section-btn .btn-white-outline:hover {
  border-bottom: 3px solid #c8a900 !important;
  color: #90bff0 !important;
}
.jumbotron-1 .head_wrap:hover .style-section-title a {
  color: #2a65e8 !important;
}
.jumbotron-1 {
  background-image: url("../../../assets/images/UNC-Blur.png");
}
.jumbotron-1 .style-text,
.jumbotron-1 .typed-text,
.jumbotron-1 .style-section-text {
  letter-spacing: 0.03rem;
}
.jumbotron-1 .btn {
  margin-left: 4px !important;
}
.jumbotron-1 .animated-element {
  color: #ffbc00;
}
.jumbotron-1 .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #ffbc00;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#profile-foto {
  display: none;
}

@media(min-width: 998px) {
#profile-foto {
  display: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../images/profile1.png');
  width: 50%;
  position: absolute;
  right: 0;
  top:-78%;
  height: 80%;
}
}


.cid-sUy1VKIOff {
  padding-top: 8rem;
  padding-bottom: 8rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-sUy1VKIOff .image__block:before {
  content: "";
  position: absolute;
  top: -85px;
  left: 205px;
  width: 100vw;
  height: calc(100% + 170px);
  background-color: #bfdaf6;
}
.cid-sUy1VKIOff .date__block {
  margin-top: 88px;
  margin-bottom: 16px;
}
.cid-sUy1VKIOff .date__article {
  display: inline-block;
  margin: 0;
  padding: 0 7.5px;
  color: #b1a374;
}
.cid-sUy1VKIOff .dot {
  display: inline-block;
  vertical-align: super;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #90bff0;
}
.cid-sUy1VKIOff .date__d {
  display: inline-block;
  margin: 0;
  padding: 0 7.5px;
  color: #90bff0;
}
.cid-sUy1VKIOff .mbr-section-title {
  margin-bottom: 28px;
}
.cid-sUy1VKIOff .mbr-text {
  margin-bottom: 23px;
}
.cid-sUy1VKIOff .link {
  display: block;
  margin-bottom: 0;
  white-space: nowrap;
}
.cid-sUy1VKIOff .link a {
  font-weight: 700;
}
.cid-sUy1VKIOff .link span {
  display: inline-block !important;
  transition: all 0.3s ease;
  margin-left: 13px;
}
.cid-sUy1VKIOff .link:hover span {
  transform: translateX(9px);
}
.cid-sUy1VKIOff .image__block {
  position: relative;
}
.cid-sUy1VKIOff .image {
  width: 100%;
  height: 575px;
  position: relative;
}
.cid-sUy1VKIOff .image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #90bff0;
  z-index: 1;
}
.cid-sUy1VKIOff .image img {
  position: absolute;
  width: 50%;
  height: 80%;
  top: 60px;
  left: 50%;
  z-index: 5;
  transform: translatex(-50%);
  border-radius: 50%;
  max-height: 575px;
  object-fit: cover;
  border: 4px solid #001169;
}
@media (max-width: 991px) {
  .cid-sUy1VKIOff .date__block {
    margin-top: 0;
    margin-bottom: 14px;
  }
  .cid-sUy1VKIOff .mbr-section-title {
    margin-bottom: 15px;
  }
  .cid-sUy1VKIOff .mbr-text {
    margin-bottom: 12px;
  }
  .cid-sUy1VKIOff .image__block {
    margin-top: 60px;
  }
  .cid-sUy1VKIOff .image__block:before {
    top: -50px;
    left: 70px;
    height: calc(100% + 150px);
  }
}
@media (max-width: 767px) {
  .cid-sUy1VKIOff .image {
    height: 460px;
  }
  .cid-sUy1VKIOff .image img {
    top: 45px;
    width: 60%;
  }
}
@media (max-width: 575px) {
  .cid-sUy1VKIOff .image {
    height: 420px;
  }
  .cid-sUy1VKIOff .image img {
    top: 40px;
    width: 60%;
  }
}
@media (max-width: 380px) {
  .cid-sUy1VKIOff .image {
    height: 300px;
  }
  .cid-sUy1VKIOff .image img {
    top: 30px;
    width: 60%;
  }
}



.engagement-1 {
  margin-top: -18%;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: transparent;
}
.engagement-1 .pos_rel {
  position: relative;
}
.engagement-1 .main_section_title {
  display: flex;
}
.engagement-1 .main_title {
  padding: 0 8.333%;
}
.engagement-1 .empty_content {
  width: 90%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .engagement-1 .card_title {
    font-size: 2rem;
  }
}
.header-mid {
  display: none;
  background: white;
  background: rgba(255,255,255,0);
  
  clip-path: circle();
  background-image: url('../../images/profile1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
@media(min-width:767px) and (max-width: 992px) {
  .header-mid {
    display: inherit;
  }
}

.engagement-1 {  
  z-index: 8; 
  pointer-events: none;
}

.engagement-1 .text-wrapper {
  width: 60%;
  background: #90bff0;
  padding: 90px 1rem;
  min-height: 75vh;
  pointer-events: all;
}
@media (min-width: 1550px) {
  .engagement-1 .text-wrapper {
    padding-right: 8.333%;
    padding-left: calc(15% + 16px);
  }
}
@media (max-width: 1549px) {
  .engagement-1 .text-wrapper {
    padding-right: 8.333%;
    padding-left: calc(8% + 16px);
  }
}
@media (max-width: 1250px) {
  .engagement-1 .text-wrapper {
    padding-right: 3%;
    padding-left: calc(3% + 16px);
  }
}
.engagement-1 .text-wrapper:hover .card_title a {
  color: #2a65e8 !important;
}
.engagement-1 .text-wrapper .style-section-btn .btn-white-outline {
  padding: 3px 0;
  margin-bottom: 0;
  border: none !important;
  background-color: transparent !important;
}
.engagement-1 .block-content,
.engagement-1 .main_section_title {
  flex-direction: row-reverse;
}
@media (min-width: 1550px) {
  .engagement-1 .text-wrapper {
    padding-left: 8.333%;
    padding-right: calc(15% + 16px);
  }
}
@media (max-width: 1549px) {
  .engagement-1 .text-wrapper {
    padding-left: 8.333%;
    padding-right: calc(8% + 16px);
  }
}
@media (max-width: 1250px) {
  .engagement-1 .text-wrapper {
    padding-left: 3%;
    padding-right: calc(3% + 16px);
  }
}

.engagement-1 .text-wrapper-2 {
  width: 60%;
  background: white;
  padding: 90px 1rem;
  pointer-events: all;
}
@media (min-width: 1550px) {
  .engagement-1 .text-wrapper-2 {
    padding-right: 8.333%;
    padding-left: calc(15% + 16px);
    height: 30vh;
  }
}
@media (max-width: 1549px) {
  .engagement-1 .text-wrapper-2 {
    padding-right: 8.333%;
    padding-left: calc(8% + 16px);
  }
}
@media (max-width: 1250px) {
  .engagement-1 .text-wrapper-2 {
    padding-right: 3%;
    padding-left: calc(3% + 16px);
  }
}
.engagement-1 .text-wrapper-2:hover .card_title a {
  color: #2a65e8 !important;
}
.engagement-1 .text-wrapper-2 .style-section-btn .btn-white-outline {
  padding: 3px 0;
  margin-bottom: 0;
  border: none !important;
  background-color: transparent !important;
}
.engagement-1 .block-content,
.engagement-1 .main_section_title {
  flex-direction: row-reverse;
}
@media (min-width: 1550px) {
  .engagement-1 .text-wrapper-2 {
    padding-left: 8.333%;
    padding-right: calc(15% + 16px);
  }
}
@media (max-width: 1549px) {
  .engagement-1 .text-wrapper-2 {
    padding-left: 8.333%;
    padding-right: calc(8% + 16px);
  }
}
@media (max-width: 1250px) {
  .engagement-1 .text-wrapper-2 {
    padding-left: 3%;
    padding-right: calc(3% + 16px);
  }
}

.engagement-1 .block-content {
  display: flex;
  align-items: center;
}
.engagement-1 .image-wrapper,
.engagement-1 img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.engagement-1 .style-section-subtitle {
  margin-bottom: 12px;
}
.engagement-1 .style-section-btn .btn-secondary-outline {
  padding: 3px 0;
  margin-bottom: 0;
  border: none !important;
  background-color: transparent !important;
}
.engagement-1 .style-section-btn .btn-secondary-outline:hover,
.engagement-1 .style-section-btn .btn-secondary-outline .active,
.engagement-1 .style-section-btn .btn-secondary-outline:focus {
  color: #90bff0 !important;
}
@media (max-width: 991px) {
  .engagement-1 .block-content {
    flex-direction: column;
  }
  .engagement-1 .text-wrapper {
    order: 2;
    width: 100%;
    padding: 40px;
    height: auto;
  }
  .engagement-1 .empty_content {
    display: none;
  }
  .engagement-1 .main_title {
    padding: 40px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .engagement-1 .text-wrapper,
  .engagement-1 .main_title {
    padding: 30px 1rem;
  }
}
.about-2 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efeeee;
}
.about-2 .content-block {
  max-width: 700px;
  padding: 4rem 3rem;
}
.about-2 .img-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s;
  transition-delay: 0s;
  background-image: url("../../../assets/images/style-1920x1281.jpg");
  background-position: center;
  background-size: cover;
  z-index: 3;
}
.about-2 .overlay {
  position: absolute;
  transition: all 0.3s;
  transition-delay: 0.3s;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0%;
  background: #001169;
  z-index: 2;
  opacity: 1;
}
.about-2 .overlay-wrapper {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 50%;
  transition-delay: 0.3s;
  top: 0;
  z-index: 4;
}
@media(min-width: 767px) {
.about-2 .col {
  padding: 0;
}
}
.about-2 .col {
  display: flex;
  position: relative;
  min-height: 400px;
  justify-content: flex-end;
}
.about-2 .col:hover .overlay-wrapper {
  width: 100%;
  right: 0;
  transition-delay: 0s;
}
.about-2 .col:hover .overlay {
  width: 100%;
  transition-delay: 0s;
}
.about-2 .col:hover .img-content {
  opacity: 1;
  width: 100%;
  transition-delay: 0.3s;
}
.about-2 .col:hover .box-title2,
.about-2 .col:hover .box-text2 {
  color: white;
  transition-delay: 0.3s;
}
.about-2 .box-title2,
.about-2 .box-text2 {
  transition: all 0.3s;
  transition-delay: 0s;
}
.about-2 .box-content {
  width: 50%;
  height: 100%;
  transition: all 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #001169;
}
.about-2 .content1 {
  z-index: 5;
  max-width: 450px;
  position: relative;
  transition: all 0.3s;
  transition-delay: 0.3s;
  padding: 4rem 3rem;
}
@media (min-width: 767px) {
  .cover-replacement {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .about-2 .img-content {
    opacity: 1;
  }
  .about-2 .overlay-wrapper {
    width: 100%;
    right: 0;
  }
  .about-2 .box-content {
    width: 100%;
  }/*
  .about-2 .box-title2,
  .about-2 .box-text2 {
    color: #333333 !important;
  }*/
  .about-2 .content-block,
  .about-2 .content1 {
    padding: 3rem 1rem;
  }
  .cover-link {
    display: none;
  }
}
.about-2 .box-text1 {
  color: #333333;
}
.about-2 .box-title2 {
  color: #cccccc;
}
.about-3 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efeeee;
}
.about-3 .content-block {
  max-width: 350px;
  padding: 4rem 3rem;
  z-index: 5;
  position: relative;
}
.about-3 .img-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s;
  transition-delay: 0s;
  background-image: url("../../../assets/images/style-2-1920x1280.jpeg");
  background-position: center;
  background-size: cover;
  z-index: 3;
}
.about-3 .block2 {
  background-image: url("../../../assets/images/style-1920x1440.jpeg");
}
.about-3 .block2:hover .block2-over {
  opacity: 0;
}
.about-3 .block2:hover .style-black {
 color: white !important;
 transition: all 0.2s ease-in-out;
}
.about-3 .block1 {
  background-image: url("../../../assets/images/style-1920x1280.jpeg");
}
.about-3 .block1:hover .block1-over {
  opacity: 0;
}
.about-3 .block1-over {
  position: absolute;
  transition: all 0.6s;
  width: 100%;
  background-color: #90bff0;
  opacity: 1;
  height: 100%;
  top: 0;
  left: 0;
}
.cover-link {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.about-3 .block2-over {
  position: absolute;
  transition: all 0.6s;
  width: 100%;
  background-color: #b1a374;
  opacity: 1;
  height: 100%;
  top: 0;
  left: 0;
}
.about-3 .overlay {
  position: absolute;
  transition: all 0.3s;
  transition-delay: 0.3s;
  width: 0%;
  height: 100%;
  top: 0;
  right: 0%;
  background: #c1c1c1;
  z-index: 2;
  opacity: 1;
}
.about-3 .overlay-wrapper {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 50%;
  transition-delay: 0.3s;
  top: 0;
  z-index: 4;
}
@media(min-width: 767px) {
  .about-3 .col {
    padding: 0;
  }
  }
  .about-3 .col {
  display: flex;
  position: relative;
  min-height: 400px;
  justify-content: flex-end;
}
.about-3 .col:hover .overlay-wrapper {
  width: 100%;
  right: 0;
  transition-delay: 0s;
}
.about-3 .col:hover .overlay {
  width: 100%;
  transition-delay: 0s;
}
.about-3 .col:hover .img-content {
  opacity: 1;
  width: 100%;
  transition-delay: 0.3s;
}
.about-3 .col:hover .box-title2,
.about-3 .col:hover .box-text2 {
  color: #001169;
  transition-delay: 0.3s;
}
.about-3 .box-title2,
.about-3 .box-text2 {
  transition: all 0.3s;
  transition-delay: 0s;
}
.about-3 .box-content {
  width: 50%;
  height: 100%;
  transition: all 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #c1c1c1;
}
.about-3 .content1 {
  z-index: 5;
  max-width: 450px;
  position: relative;
  transition: all 0.3s;
  transition-delay: 0.3s;
  padding: 4rem 3rem;
}
.about-3 .content2 {
  z-index: 2;
  max-width: 450px;
  margin-bottom: -1rem;
  position: relative;
  opacity: 0;
  transition: all 0.3s;
  transition-delay: 0s;
  padding: 0 2rem;
}
@media (max-width: 767px) {
  .about-3 .img-content {
    opacity: 1;
  }
  .about-3 .overlay-wrapper {
    width: 100%;
    right: 0;
  }
  .about-3 .box-content {
    width: 100%;
  }
  .about-3 .box-title2,
  .about-3 .box-text2 {
    color: #001169 !important;
  }
  .about-3 .content-block,
  .about-3 .content1 {
    padding: 3rem 1rem;
  }
}
.about-3 .box-text1 {
  color: #333333;
}
.about-3 .box-title2 {
  color: white;
}
.about-3 .block1-text,
.about-3 .style-section-btn {
  color: #333333;
}
.about-3 .block2-text,
.about-3 .style-section-btn {
  color: #333333;
}
.about-3 .block2-title {
  color: #333333;
}
.about-1 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efeeee;
}
@media (min-width: 987px) {
  .about-1 {
    margin-top: -7%;
  }
}

.about-1 img {
  width: 100%;
  height: 100%;
  transition: 5s;
  object-fit: cover;
  margin: auto;
}
.about-1 img:hover {
  transform: scale(1.1);
}
.about-1 .img-col {
  padding: 0;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  position: relative;
}
.about-1 h2 {
  padding: 0;
  margin: 0;
}
.about-1 .title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-1 .text-col {
  max-width: 650px;
  margin: auto;
  padding: 6rem 6rem;
}
.about-1 .style-section-btn {
  position: absolute;
  bottom: 300px;
  left: 0;
  transform: rotate(90deg);
  transform-origin: bottom left;
}
.about-1 .style-section-btn .btn {
  margin: 0rem!important;
  min-width: 300px;
}
.about-1 .style-section-btn .btn span {
  transform: rotate(-90deg);
}
.about-1 .style-section-btn:hover span {
  transform: rotate(-90deg) translateX(0.6rem);
  margin: 0!important;
}
.about-1 .style-iconfont {
  margin: 0!important;
}
.about-1 .number {
  border-top: 2px solid currentColor;
  padding-top: 0.6rem;
  margin-right: 3rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
@media (max-width: 992px) {
  .about-1 .text-col {
    padding: 4rem 4rem;
  }
}
@media (max-width: 767px) {
  .about-1 .style-section-btn {
    bottom: 0px;
    left: 0;
    transform: rotate(0deg);
  }
  .about-1 .btn {
    padding: 0.6rem 0.8rem!important;
    min-width: 200px!important;
  }
  .about-1 .text-col {
    padding: 2rem 1rem;
  }
}
.about-1 H2 {
  color: #333333;
}
.about-1 .style-text {
  color: #767676;
}
.engagement-1 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.engagement-1 .style-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.engagement-1 input,
.engagement-1 textarea {
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  min-height: 3rem;
  padding: 0rem!important;
  font-size: 1rem;
}
.engagement-1 input:focus,
.engagement-1 textarea:focus {
  border-left: none;
  border-top: none;
  border-right: none;
}
.engagement-1 .form-control,
.engagement-1 .field-input {
  padding: 0.5rem;
  background:transparent;
  border-color: #cccccc;
  color: #ffffff;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.engagement-1 .form-control:hover,
.engagement-1 .field-input:hover,
.engagement-1 .form-control:focus,
.engagement-1 .field-input:focus {
  background: rgba(255,255,255,0.3);
  border-color: #c8a900;
  color: #001169;
  box-shadow: none;
  outline: none;
}
.engagement-1 input::-webkit-input-placeholder,
.engagement-1 textarea::-webkit-input-placeholder {
  color: #cccccc;
}
.engagement-1 input:-moz-placeholder,
.engagement-1 textarea:-moz-placeholder {
  color: #cccccc;
}
.engagement-1 .jq-selectbox li,
.engagement-1 .jq-selectbox li {
  background-color: #333333;
  color: #ffffff;
}
.engagement-1 .jq-selectbox li:hover,
.engagement-1 .jq-selectbox li.selected {
  background-color: #333333;
  color: #ffffff;
}
.engagement-1 .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #333333;
}
.engagement-1 .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #333333;
}
.engagement-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.engagement-1 .style-form {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.engagement-1 textarea {
  min-height: 60px;
  max-height: 150px;
}
.engagement-1 .style-form .btn {
  width: 100%;
  justify-content: space-between;
}
.engagement-1 .style-form .btn .style-iconfont {
  font-size: 1.5rem;
  order: 2;
}
.footer-1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.footer-1 img {
  width: 40px;
  margin-right: 1rem;
}
.footer-1 .navbar-brand {
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .footer-1 .row {
    margin: 0 2rem;
  }
}
.footer-1 .container {
  max-width: 1500px;
}
.footer-1 .form-control,
.footer-1 .field-input {
  padding: 0.5rem;
  background-color: #efeeee;
  border-color: #efeeee;
  color: #333333;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.footer-1 .form-control:hover,
.footer-1 .field-input:hover,
.footer-1 .form-control:focus,
.footer-1 .field-input:focus {
  background-color: #efeeee;
  border-color: #efeeee;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.footer-1 input::-webkit-input-placeholder,
.footer-1 textarea::-webkit-input-placeholder {
  color: #767676;
}
.footer-1 input:-moz-placeholder,
.footer-1 textarea:-moz-placeholder {
  color: #767676;
}
.footer-1 .jq-selectbox li,
.footer-1 .jq-selectbox li {
  background-color: #efeeee;
  color: #000000;
}
.footer-1 .jq-selectbox li:hover,
.footer-1 .jq-selectbox li.selected {
  background-color: #efeeee;
  color: #000000;
}
.footer-1 .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #efeeee;
}
.footer-1 .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #efeeee;
}
.footer-1 .btn {
  width: 80px!important;
  justify-content: center;
  padding: 1rem 1rem!important;
  margin: 0!important;
  height: 100%;
}
.footer-1 .btn .style-iconfont {
  font-size: 1.2rem;
}
.footer-1 input {
  border-radius: 0;
  padding: 1rem!important;
  font-size: 1rem;
  height: 100%;
}
.footer-1 .col,
.footer-1 .col-auto {
  padding: 0;
}
.footer-1 .form-group {
  margin-bottom: 0rem;
}
.footer-1 .items {
  color: #333333;
}
.footer-1 .form-title {
  color: #333333;
}
@media (max-width: 992px) {
  .footer-1 .col-md-6,
  .footer-1 .navbar-brand {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .footer-1 .navbar-brand {
    justify-content: center;
  }
  .footer-1 .row {
    margin: 0;
  }
}
.footer-2 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #efeeee;
}
.footer-2 [class^="socicon-"]:before,
.footer-2 [class*=" socicon-"]:before {
  line-height: 44px;
}
.footer-2 .social-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.footer-2 .btn-social,
.footer-2 .style-section-title {
  color: #57468b;
}
.footer-2 .soc-item {
  width: 45px;
  height: 45px;
  background: #efeeee;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.3rem;
}
.footer-2 .soc-item span {
  font-size: 1.6rem;
  color: #c1c1c1 !important;
  transition: all 0.3s;
}
.footer-2 .soc-item:hover span {
  color: #767676 !important;
}
@media (max-width: 992px) {
  .footer-2 .align-left {
    text-align: center;
  }
  .footer-2 .align-right {
    text-align: center;
  }
  .footer-2 .social-list {
    justify-content: center;
  }
  .footer-2 .mb-0 {
    padding-bottom: 1rem;
  }
}


.argyle {
  border: 1px dashed;
position: relative;
width: 50%;
height: 50%;
z-index: 2;
background: transparent !important;
scale: 1.1;
}

.corner-1 {
  transform: translate(-2%, -178%);
}

.corner-2 {
  transform: translate(93%, -172%);
}


.grid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows:  repeat(4, 20%);
  grid-gap: 0.5em 0.5em;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
}

@media(min-width: 767px) {
  .grid {
    transform: rotate(-45deg) translateX(25%);
  }
  .item > img {
    transform: rotate(45deg) translate(0, 15px) scale(1.5);
  }
  
.large {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}
}


@media(max-width: 987px) and (min-width: 767px) {
  .item:not(.large) > img {
    transform: rotate(45deg) translate(0, 15px) scale(1.5);
  }
  .large > img {
    transform: rotate(45deg) translate(0, 15px) scale(1.2);
  }
}

.grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.item-content {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.item:not(.empty) {
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  background-color: #ccc;
  transition: all 0.2s ease-in-out;
}

.item:not(.empty):not(.spacer) {
  overflow: hidden;
}

.item:not(.empty):not(.spacer):not(.explainer):hover, .item:not(.empty):not(.explainer):not(.spacer):focus   {
  cursor: pointer;  
  filter: none;
  scale: 1.5;
  z-index: 5;
  -webkit-box-shadow: 0px 0px 18px 0px #2F2F2F; 
  box-shadow: 0px 0px 18px 0px #2F2F2F;
  background: #90bff0;
}

.large:hover {
  scale: 1.3;
  z-index: 5;
}

.item > img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;

}

@media(min-width: 767px) {
  .item > img {
    
  }
.item:not(.empty):not(.spacer):not(.explainer):hover > img, .item:not(.empty):not(.explainer):not(.spacer):focus > img {
  filter: none;
}

.item.explainer {
  display: none;
}

}

.item.spacer {
  background: transparent;
}

.item.empty {
  background: #90bff0;
}


@media(max-width: 767px) {
  .item > img {
    transform: rotate(0deg) translate(0, 15px) scale(1.2);
  }

  .item.explainer {
    display: inherit;
    grid-column: auto / span 4;
    grid-row: auto / span 1;
    background: transparent;
  }

  .item.empty, .item.spacer {
    display: none;
  }
}
.people-feature {
  padding-top: 20vh;
  background: white
  
}


.background-fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eee;
}


@media(min-width: 767px) {
  .background-fill {
    top: 15%;
    width: 80%;
    right: 0;
    height: 60%;
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-image: none;
      background-size: auto;
    background-image: url(../../../assets/images/profile2.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}