<section class="footer2 footer-1" id="footer003-2m" data-rv-view="150">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col-12 col-lg-4 col-md-12 align-left">
             <div class="navbar-brand">
                <span class="style-fonts-style style-semibold navbar-caption-wrap display-1">ROBINS<img style="width: 1em;margin:0; margin-top:-0.2em;  " src="assets/content/North_Carolina_Tar_Heels_logo.svg"/>N</span>
             </div>
          </div>
          <div class="col-12 col-lg-2 col-md-6 align-left">
             <a href="mailto:robinson4sbp@gmail.com"><h5 class="style-fonts-style items style-semibold pb-2 display-2" style="font-size: 1em;">Help</h5></a>
             <a href="https://www.unc.edu/"><h5 class="style-fonts-style items style-semibold pb-2 display-2" style="font-size: 1em;">UNC</h5></a>
          </div>
          <div class="col-12 col-lg-2 col-md-6 align-left">
             <a href="https://studentgovernment.unc.edu/"><h5 class="style-fonts-style items style-semibold pb-2 display-2" style="font-size: 1em;">Get Involved in UNC SG</h5></a>
          </div>
       </div>
    </div>
 </section>
 <section class="social1 footer-2" id="footer001-2n">
    <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-md-12 col-lg-7 px-4 align-right">
             <div class="social-list">
                <div class="soc-item">
                   <a href="https://www.instagram.com/samrobinsonforunc/" target="_blank">
                   <span class="style-iconfont style-iconfont-social socicon-instagram socicon" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                   </a>
                </div>
                <div class="soc-item">
                   <a href="https://twitter.com/SamuelCRobinson/" target="_blank">
                   <span class="style-iconfont style-iconfont-social socicon-twitter socicon" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                   </a>
                </div>
             </div>
          </div>
          <div class="col-md-12 col-lg-2 m-auto px-4 align-right">
             <p class="style-text mb-0 links style-fonts-style display-4">Sponsored by the Samuel Robinson for Student Body President Campaign</p>
             <p class="style-text mb-0 links style-fonts-style display-4"><a href="https://heellife.unc.edu/organization/boe/" class="text-warning">Compliance</a> &nbsp;| &nbsp;<a href="https://github.com/JacksonMeadeUNC/S4SBP" class="text-warning">For Administrators
                </a> 
             </p>
          </div>
       </div>
    </div>
 </section>

 


<script src="assets/countdown/countdown.js"></script>

 <script src="assets/web/assets/jquery/jquery.min.js"></script>
 <script src="assets/popper/popper.min.js"></script>
 <script src="assets/tether/tether.min.js"></script>
 <script src="assets/bootstrap/js/bootstrap.min.js"></script>
 <script src="assets/smoothscroll/smooth-scroll.js"></script>
 <script src="assets/dropdown/js/nav-dropdown.js"></script>
 <script src="assets/dropdown/js/navbar-dropdown.js"></script>
 <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
 <script src="assets/parallax/jarallax.min.js"></script>
 <script src="assets/typed/typed.min.js"></script>
 <script src="assets/playervimeo/vimeo_player.js"></script>
 <script src="assets/formstyler/jquery.formstyler.js"></script>
 <script src="assets/formstyler/jquery.formstyler.min.js"></script>
 <script src="assets/sociallikes/social-likes.js"></script>
 <script src="assets/theme/js/script.js"></script>
 <script src="assets/formoid/formoid.min.js"></script>
 <script src="assets/js/lottie.js"></script>
 <script src="assets/js/index.js"></script>
</body>
</html>
