

{% include header.html %}

<section data-bs-version="5.1" class="menu menu2 nav-container" once="menu" id="menu2-0">
  <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg slide-in-top navbar-short no-expand">
      <div class="navbar-background">

      </div>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="left-menu">
         <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
            <li class="nav-item">
               <a class="nav-link link text-white display-4" alt="About Sam" href="#about-sam" aria-expanded="false">ABOUT SAM</a>
            </li>
            <li class="nav-item"><a class="nav-link link text-white display-4" alt="Platform Document" href="./platform" aria-expanded="false">PLATFORM</a></li>
            <li class="nav-item"><a class="nav-link link text-white display-4" href="./endorsements" alt="Endorsements" aria-expanded="false">ENDORSEMENTS</a></li>
        </ul>
        </div>
        <div class="brand-container">
           <div class="navbar-brand">
              <span class="navbar-caption-wrap"><a alt="Home" class="navbar-caption text-white display-2" href="./">ROBINS<img style="height: 0.9em; margin-top: -0.2em" src="assets/content/North_Carolina_Tar_Heels_logo.svg"/>N</a></span>
           </div>
        </div>
        <div class="right-menu">
         <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
            <li class="nav-item">
               <a class="nav-link link show text-white display-4" alt="Team" href="./team" aria-expanded="false" data-bs-auto-close="outside">
                  THE TEAM
                  <div class="line-animation"></div>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link link show text-white display-4" target = "_blank" href="https://www.instagram.com/samrobinsonforunc/" aria-expanded="false" data-bs-auto-close="outside">
                  SOCIAL MEDIA
                  <div class="line-animation"></div>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link link show text-white display-4" alt="Email Us" href="mailto:robinson4sbp@gmail.com" aria-expanded="false" data-bs-auto-close="outside">
                  CONTACT
                  <div class="line-animation"></div>
               </a>
            </li>
            
         </ul>
        </div>
     </div>
     <div class="navbar-brand" style="margin: 1rem;" id="mobile-brand">
      <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-2" href="./">ROBINS<img style="height: 0.9em; margin-top: -0.2em" src="assets/content/North_Carolina_Tar_Heels_logo.svg">N</a></span>
   </div>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div class="hamburger">
           <span></span>
           <span></span>
           <span></span>
           <span></span>
        </div>
     </button>
  </nav>
</section>

{{ content }}

{% include footer.html %}